<!DOCTYPE html>
<html>
<head>
  <title>Contenteditable</title>
  <%= stylesheet_link_tag    "contenteditable/application", :media => "all" %>
  <%= javascript_include_tag "contenteditable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
