/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.contenteditable_save_button {

    position:fixed;
    right:10px;
    top:10px;
    height:100px;
    padding:20px;
    background:green;
    display: none;
    cursor:pointer;
    border-radius:15px;
    text-shadow: 1px 1px 1px white;
}
